body {
    font-family: Arial, Helvetica, sans-serif;
   }

  .c {
    position: relative;
    width: 100%;
    background-color:white;
}
  .image {
    display: block;
    width: 100%;
    height: 27em;
    border: 0.4em solid black;
    padding: 1.5em 1.5em;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
  }
  .c:hover .overlay {
    opacity: 1;
  }
  /*.text {
    color: rgb(29, 25, 25);
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    .text1{
    margin-top:35px;
     margin-left:50px;
     color:white;
    }
  .add {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button1 {
  background-color:rgb(19, 95, 139);
  color:white;
  border: 3px solid white;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
  *{
    box-sizing: border-box;
 }
.row{
    display:flex;
  }
  .column
{
    flex: 25%;
    padding: 20px;
}

.new{
padding: 0.3em;
margin: 0.3em;
background-color: white;
}
